.text__center {
    text-align: center;
}
.yellow {
    color: $yellow;
}
.cap__snake {
    position: relative;
    text-align: center;
    &:after {
        content: ' ';
        background: url(../images/zigzag.svg) no-repeat;
        position: absolute;
        width: 180px;
        height: 15px;
        bottom: -36px;
        left: calc(50% - 90px);
    }
}



//slider

.slider {
    position: relative;
    flex-flow: column;
}
.slider__controls {
    height: 0;
}
.slider__left {
    display: flex;
    position: absolute;
    left: -80px;
    top: 50px;
}
.slider__right {
    display: flex;
    position: absolute;
    right: -80px;
    top: 50px;
}
.slider__content {
    width: 100%;
    overflow: hidden;
}