input {
    background: #fff;
    border: none;
}
.form__input {
    border-radius: 3px;
    background-color:  #ffffff;
    padding: 14px 20px;
    @include font($rlight, 14px, #666);
    font-weight: 300;
    margin-bottom: 10px;
}
.form__politics {
    margin: 8px 0 17px;
    @include font($rreg, 12px, #fff);
    a {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}