input {
    background: #fff;
    border: none;
}
.form__default {
    display: flex;
    flex-flow: column;
}
.form__btn__polit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
        margin-right: 10px;
    }
    .form__politics {
        width: 100%;
        margin-left: 10px;
    }
}
.form__double {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form__input {
        width: 100%;
    }
    .form__input:nth-child(1) {
        margin-right: 18px;
    }
    .form__input:nth-child(2) {
        margin-left: 18px;
    }
}
.form__input {
    border-radius: 3px;
    background-color:  #ffffff;
    padding: 11px 20px;
    @include font($rlight, 14px, #666);
    font-weight: 300;
    margin-bottom: 10px;
}
.form__politics {
    @include font($rreg, 12px, #fff);
    a {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
}