@mixin font($ff, $fs, $fc: $main, $lh: 100%) {
    font: {
        family: $ff;
        size: $fs;
    }
    line-height: $lh;
    color: $fc;
}

@mixin btn($p: 14px 0, $c: #ffcc00) {
    padding: $p;
    background-color:  $c;
    font-family: $rblack;
    font-weight: 900;
} 