.modals {
    display: none;
}
.modal__title {
    font-size: 30px;
}
.modal__body {
    padding-top: 30px;
}
.modal__caption {
    display: flex;
    align-items: center;
}
.close {
    position: relative;
    margin-left: auto;
    width: 19px;
    height: 18px;
    &:after {
        content: ' ';
        position: absolute;
        right: 0;
        top: calc(50% - 9px);
        width: 19px;
        height: 18px;
        background: url(../images/close.png) no-repeat;
        cursor: pointer;
    }
}


//region
.modal__region {
    cursor: pointer;
}
.region__mb {
    color: #666;
    margin-bottom: 30px;
}
.region__btn {
    width: 100%;
    @include btn(14px 0, $yellow);
    font-size: 14px;
}
.region__btn__grey {
    background: #cccccc;
}
.region__screen__select {
    display: none;
}
.region__form__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.region__input {
    max-width: 255px;
    width: 100%;
    margin-right: 24px;
    margin-bottom: 0;
}

//callback 
.callback__form__btn {
    @extend .region__btn;
}
.callback__polit {
    color: #666;
    a {
        color: #666;
        border-color: #666;
    }
}

//product 

.product__info {
    @include font($rreg, 14px);
    margin-bottom: 20px;
}
.product__sum {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.caption__counter {
    @include font($rbold, 14px, #666);
    margin-bottom: 8px;
}


.result__sum__value {
    &:after {
        content: ' руб.';
        @include font($rlight, 24px);
    }
}
.buy__btn {
    @extend .region__btn;
    max-width: 160px;
}


.modal__succes__btn {
    @extend .region__btn;
    width: 100%;
}
.modal__success__info {
    @extend .product__info;
    margin-bottom: 38px;
}