p {
    color: $main;
}

a {
    color: $main;
    text-decoration: none;
}

h2 {
    @include font($rblack, 48px);
    font-weight: 900;
}
h3 {
    @include font($rblack, 36px);
}
h4 {
    @include font($rbold, 24px);
}
h5 {
    @include font($rbold, 18px);
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }

}