* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

@import "node_modules/bootstrap/scss/bootstrap-grid.scss";


@import "fonts";
@import "var";
@import "mixins";
@import "typography";
@import "common";
@import "grid";
@import "buttons";
@import "forms";

.main {
    background: url(../images/main-bg.jpg) no-repeat center;
    background-size: cover;

}

.header {
    width: 100%;
    padding-bottom: 200px;
    background-color:  #ff8000;
    background-color:  rgba(0, 0, 0, 0.6);
    box-shadow: 0px 11px 49px 0px rgba(0, 0, 0, 0.36);
    background-image: url('../images/header_bg.png');
    background-position: top center;
    background-size: cover;
}
.header__top {
    padding-top: 24px;
    margin-bottom: 220px;
}
.logo {

}
.logo__caption {
    color: $yellow;
    text-transform: uppercase;
    font-weight: 900;
}
.logo__subtitle {
    font-family: $rlight;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 300;
    text-align: left;
}

.menu {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.geolocation {
    display: flex;
    align-items: center;
}
.geolocation__city {
    margin-left: 13px;
    @include font($rbold, 16px, #fff);
    font-weight: 700;
}

.nav {
    margin-top: auto;
}
.nav__link {
    @include font($rbold, 14px, #fff);
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 24px;
    &:nth-last-child(1) {
        margin-right: 0;
    }
}


.header__callback {
    display: flex;
    flex-flow: column;
    max-width: 217px;
    width: 100%;
    margin-left: auto;
}
.header__form__polit {
    margin: 8px 0 17px;
}
.callback__caption {
    @include font($rreg, 12px, #fff);
    font-weight: 400;
}
.callback__number {
    @extend h4;
    color: #fff;
    font-weight: 900;
}
.callback__btn {
    @include btn(14px 0, #fff600);
}

.header__content {
    margin-bottom: 95px;
}
.content__caption {
    color: #fff;
}
.header__form__box {
    position: relative;
    border-radius: 3px;
    box-shadow: 12px 20px 20px 0px rgba(0, 0, 0, 0.45);
    background: url(../images/header_form.png) no-repeat left top;
    background-size: cover;
}
.header__form {
    position: relative;
    max-width: 381px;
    width: 100%;
    margin: 0 auto;
    background-color:  #009501;
    padding: 0 15px;
}
.header__form__caption {
    @include font($rbold, 25px, #fff);
    margin: 20px 0 15px 0;
    text-align: center;
}
.header__form__btn {
    @include btn(14px 0, $yellow);
    font-size: 14px;
    margin-top: 10px;
}

.header__slider__elem {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.header__slider__text {
    margin-top: 8px;
    @include font($rbold, 16px, #fff);
    font-weight: 700;
    text-align: center;
}


//products 
.products__wrap {
    margin-top: -140px;
    border-radius: 10px;
    background-color:  #ffffff;
    box-shadow: 0px 13px 68px 0px rgba(0, 0, 0, 0.18);
    padding-top: 45px;
    padding-bottom: 30px;
}
.products__menu {
    display: flex;
    margin: 0 auto;
    background: #f4f4f4;
    border-radius: 10px;
    width: max-content;
    margin-bottom: 48px;
}
.products__punkt {
    display: flex;
    align-items: center;
    width: 200px;
    height: 60px;
    justify-content: center;
    @include font($rreg, 18px, #333);
    font-weight: 400;
    cursor: pointer;
}
.active__products {
    border-radius: 10px;
    background-color:  #ffcc00;
    font-family: $rblack;
    font-weight: 900;
}

.products__content {
    width: 100%;
}
.products__caption {
    text-align: center;
    margin-bottom: 72px;
}

.stone__size__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 27px;
    padding-bottom: 37px;
    border-bottom: 1px solid #e8e8e8;
}
.stone__size__elem {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color:  #ffffff;
    width: 123px;
    height: 65px;
    text-align: center;
}
.stone__size__bold {
    @include font($rblack, 30px);
    font-weight: 900;
}
.stone__size__name {
    @include font($rlight, 12px);
    font-weight: 300;
}
.select__size {
    background: url(../images/polnotel_act.png) no-repeat top left;
    background-size: cover;
    background-color:  #ffcc00;
    box-shadow: 0px 13px 21px 0px rgba(255, 204, 0, 0.47);
}

.stone__color {
    padding: 21px 0 34px;
    border-bottom: 1px solid #e8e8e8;
}
.stone__color__box {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.select__color {
    border: 1px solid #555555;
    box-shadow: 0px 8px 13px 0px rgba(244, 215, 115, 0.6);
    &:after {
        content: ' ';
        background: url(../images/chk.svg) no-repeat;
        position: absolute;
        top: 19px;
        left: 7px;
        width: 22px;
        height: 22px;
    }
}
//colors select
.stone__color__elem {
    display: flex;
    position: relative;
}
.stone__color__elem:nth-child(1) {
    background: #f4d773;
}
.stone__color__elem:nth-child(2) {
    background: #c7b65c;
}
.stone__color__elem:nth-child(3) {
    background: #9b7f69;
}
.stone__color__elem:nth-child(4) {
    background: #8c6d58;
}
.stone__color__elem:nth-child(5) {
    background: #ede1b9;
}
.stone__color__elem:nth-child(6) {
    background: #545452;
}
.stone__color__elem:nth-child(7) {
    background: #b25840;
}
.stone__color__elem:nth-child(8) {
    background: #95a26a;
}
.stone__color__elem:nth-child(9) {
    background: #c6c5ba;
}
.stone__color__elem:nth-child(10) {
    background: #ecb678;
}

//end colors select

.stone__view {
    padding: 24px 0 31px;
    border-bottom: 1px solid #e8e8e8;
}
.stone__view__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 23px;
}
.stone__view__elem {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.stone__view__img-close {
    position: absolute;
    top: 0;
}
.stone__view__name {
    margin-top: 10px;
    @include font($rmed, 14px);
    font-weight: 500;
}
.select__view {
    &:after {
        content: ' ';
        background: url(../images/chk.svg) no-repeat;
        width: 22px;
        height: 22px;
        position: absolute;
        top: 23px;
        left: 52px;
    }
    .stone__view__img-close {
        opacity: 0;
    }
}
.stone__form {
    border-bottom: 1px solid #e8e8e8;
    padding: 27px 0 40px;
}
.stone__form__box {
    padding-top: 32px;
}
.stone__form__elem {
    display: flex;
    flex-flow: column;
    padding: 0;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.stone__img__wrap {
    position: relative;
}
.stone__form__img-close {
    position: absolute;
}
.stone__form__img {
    opacity: 0;
}
.stone__form__name {
    @include font($rmed, 14px);
    font-weight: 500;
    text-align: center;
    margin: 26px 0 44px;
}
.select__form {
    .stone__form__img-close {
        opacity: 0;
    }
    .stone__form__img {
        opacity: 1;
    }
}

.stone__type {
    padding: 30px;
    background-color:  rgba(232, 232, 232, 0.5); 
    border-radius: 2px;
}
.stone__type__box {
    margin-top: 34px;
    display: flex;
}
.stone__values {
    margin-left: 91px;
}
.stone__name {
    @include font($rmed, 14px, $main);
    font-weight: 500;
    line-height: 30px;
}
.stone__value {
    @include font($rreg, 14px, $main);
    font-weight: 500;
    line-height: 30px;
}

.stone__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 23px;
}
.stone__total__btn {
    @include btn(22px 87px 20px);
    font-size: 14px;
}
.price__low {
    @include font($rlight, 24px, $main);
    font-weight: 300;
    line-height: 30px;
}

.stone__demo {
    display: flex;
    flex-flow: column;
}
.stone__demo__slider__caption {
    margin-bottom: 25px;
}
.stone__demo__slider {
    margin-top: auto;
}
.stone__demo__slider__image {
    background-color:  #ffffff;
    box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.19);
}

.plit, .elements {
    display: none;
}
.plit__caption {
    text-align: center;
    margin-bottom: 73px;
}
.plit__elem {
    padding: 34px 34px 25px 34px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}
.plit__elem__img {
    width: 100%;
    margin-bottom: 24px;
}
.plit__elem__caption {
    margin-bottom: 15px;
}
.plit__elem__stat {
    @include font($rreg, 14px, #666);
    margin-bottom: 30px;
}
.price__low {
    @include font($rlight, 18px);
}
.plit__elem__btn {
    margin-top: 16px;
    @include btn(14px 54px, $yellow);
    font-size: 14px;
}
.plit__slider__image {
    width: 100%;
}
.plit__slider__caption {
    margin: 30px 0;
}
.plit__slider__controls {
    .slider__left {
        left: 35px;
        top: 100px;
    }
    .slider__right {
        right: 35px;
        top: 100px;
    }
}

.sertifics {
    padding: 61px 0 70px;
}
.sertifics__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 95px;
    width: 100%;
}
.sertific__item {
    margin: 0 47px;
}
.sertific__image {
    box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.2);
}

.calc__wrap {
    padding: 0;
}
.calc__form__box {
    padding: 71px 0 0;
    width: 100%;
    background: url(../images/calc_bg.png) no-repeat;
    border-radius: 10px;
}
.calc__form {
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 13px 68px 0px rgba(0, 0, 0, 0.32);
    width: 100%;
    height: 100%;
    .form__double {
        max-width: 474px;
    }
}
.calc__content {
    max-width: 510px;
    width: 100%;
    margin-left: auto;
    margin-right: 58px;
    margin-top: 66px;
    margin-bottom: 75px;
}
.calc__text {
    margin: 26px 0 34px;
    @include font($rreg, 14px, #fff);
    font-weight: 400;
}
.calc__form__input {
    max-width: 474px;
    margin-bottom: 26px;
}
.calc__form__btn {
    @include btn(14px 50px, $yellow);
}

.partners__caption {
    width: 100%;
    margin: 80px 0 100px;
}
.partners__box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.partner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}


.guarant__box {
    border-radius: 10px;
    background-color:  #ffffff;
    box-shadow: 0px 13px 68px 0px rgba(0, 0, 0, 0.18);
    padding-top: 65px;
}
.guarant__caption {
    margin-bottom: 50px;
}
.guarant__text {
    max-width: 321px;
    @include font($rreg, 18px);
    line-height: 30px;
    margin-top: 130px;
}

.work {
    padding-bottom: 68px;
}
.work__caption {
    margin: 50px 0 82px;
}
.work__arrow {
    position: relative;
    &:after {
        content: ' ';
        position: absolute;
        background: url(../images/arrow.svg) no-repeat;
        width: 50px;
        height: 33px;
        right: -85px;
        top: 56px;
    }
}
.work__box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}
.work__elem {
    text-align: center;
}
.work__elem__text {
    @include font($rbold, 16px);
    font-weight: 700;
    margin-top: 9px;
}
.work__btn {
    @include btn(16px 55px, $yellow);
}

.slider__content__offers {
    padding-bottom: 133px;
    overflow: visible;
}
.offer {
    border-radius: 10px;
    background-color:  #ffffff;
    padding: 40px 40px 30px 40px;
}
.shadow__offer {
    position: relative;
    width: 100%;
    height: 100%;
    &:after {
        display: block;
        content: ' ';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0px 13px 68px 0px rgba(0, 0, 0, 0.18);
    }
}
.offers__caption {
    margin-bottom: 85px;
}
.offer__image {
    margin-bottom: 24px;
}
.offer__name {
    margin-bottom: 23px;
}
.offer__desc {
    margin-bottom: 28px;
    @include font($rlight, 14px, #666);
    font-weight: 300;
}
.offer__btn {
    @include btn(14px 0, $yellow);
    font-size: 14px;
}

.ask {
    position: relative;
    z-index: 2;
}
.ask__wrap {
    background: url(../images/ask.png) no-repeat top left;
    padding: 0;
    background-size: cover;
    border-radius: 10px;
}
.ask__box {
    height: 100%;
    width: 100%;
    display: flex;
    box-shadow: 0px 40px 68px 0px rgba(0, 0, 0, 0.32);
    border-radius: 10px;
}
.ask__name {
    position: relative;
}
.manager__img {
    position: absolute;
    top: -113px;
    left: 90px;
}
.ask__name__caption {
    z-index: 2;
    position: relative;
    margin-top: 414px;
    margin-left: 212px;
}
.ask__name__stat {
    margin-left: 216px;
    @include font($rmed, 14px, #000);
}
.ask__name__stat {
    z-index: 2;
    position: relative;
}
.ask__form__content {
    margin-left: auto;
    max-width: 510px;
    padding: 75px 0;
    margin-right: 58px;
}
.ask__form__caption {
    margin-bottom: 19px;
}
.ask__form__desc {
    margin-bottom: 18px;
    @include font($rreg, 14px, #fff);
}
.ask__form__input {
    max-width: 476px;
    margin-bottom: 18px;
}
textarea.ask__form__input {
    height: 105px;
}
.ask__form__btn {
    @include btn(13px 95px, $yellow);
    font-size: 14px;
}


.map {
    position: relative;
    z-index: 1;
    margin-top: -90px;
}

.footer {
    background: #fff;
}
.footer__city {
    margin: 50px 0 37px;
}
.footer__dev {
    height: 100%;
}
.footer__dev__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}
.footer__callback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-wrap: wrap;
}
.footer__btn {
    @include btn(14px 37px, $yellow);
}
.footer__phone__text {
    @include font($rreg, 12px, #666);
    font-weight: 400;
}
@import "media";